*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    color: $color-white;
    box-sizing: border-box;
    background-color: $color-background-1;
    padding: 2rem;
}

section {
    width: 33%;
    margin: 0 auto;
}

a {
    &,
    &:link,
    &:visited {
        color: $color-red-lighter;
        text-decoration: none;
    }
}

ul {
    list-style-type: none;
    text-decoration: none;
}

