//COLORS
$color-white: #FBFBFB;
$color-black: #2D2D2D;
$color-background-1: #282C35;
$color-red-light: #EB4E7A;
$color-red-lighter: #FFA7C4;

//FONT SIZE

$default-font-size: 1.6rem;
$quote-font-size-small: 1.2rem;
$quote-font-size: 2.2rem;
