.menu {
    width: 100%;
    font-size: $default-font-size;

    &__navigation {
        width: 33%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;

        li {
            width: 15%;
            list-style-type: none;
            a {
                color: $color-white;
                @include align-text-image;
            }
        }
    }

    @media(max-width:1280px) {
        &__navigation {
            width: 90%;
        }
    }
}
